   body {
       padding: 0;
       margin: 0;
       background-color: black;
   }
   .desktop, .mobile {
       background-color: black;
       text-align: center;
   }

   .desktop img {
           max-width: 1024px;
           width: 100%;
   }

   .mobile img {
           max-width: 480px;
           width: 100%;
   }

   .desktop {
	   display: block;
   }

   .mobile {
	   display: block;
   }

   @media (min-width: 960px) {
       .mobile {
	   display: none !important;
       }
   }
   @media (max-width: 959px) {
       .desktop {
	   display: none !important; 
       }
   }

